
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/x64/Debug/SFML-desktop.pdb
/x64/Debug/SFML-desktop.exe
/x64/Debug/SFML-desktop.ilk
/x64/Debug/SFML-desktop.pdb
/SFML-desktop/x64/Debug/SFML-desktop.pch
/SFML-desktop/x64/Debug/SFML-desktop.tlog/CL.command.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/CL.read.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/CL.write.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/link.command.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/link.read.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/link.write.1.tlog
/SFML-desktop/x64/Debug/Snake.obj
/SFML-desktop/x64/Debug/SnakeGame.obj
/SFML-desktop/x64/Debug/State.obj
/SFML-desktop/x64/Debug/stdafx.obj
/SFML-desktop/x64/Debug/vc141.idb
/SFML-desktop/x64/Debug/vc141.pdb
/SFML-desktop/x64/Debug/App.obj
/SFML-desktop/x64/Debug/Apple.obj
/SFML-desktop/x64/Debug/Board.obj
/SFML-desktop/x64/Debug/Button.obj
/SFML-desktop/x64/Debug/ButtonHandler.obj
/SFML-desktop/x64/Debug/FrameTimer.obj
/SFML-desktop/x64/Debug/Main.obj
/SFML-desktop/x64/Debug/MainMenu.obj
/SFML-desktop/x64/Debug/SFML-desktop.pch
/SFML-desktop/x64/Debug/SFML-desktop.tlog/CL.command.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/CL.read.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/CL.write.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/link.command.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/link.read.1.tlog
/SFML-desktop/x64/Debug/SFML-desktop.tlog/link.write.1.tlog
/SFML-desktop/x64/Debug/Snake.obj
/SFML-desktop/x64/Debug/SnakeGame.obj
/SFML-desktop/x64/Debug/State.obj
/SFML-desktop/x64/Debug/stdafx.obj
/SFML-desktop/x64/Debug/vc141.idb
/SFML-desktop/x64/Debug/vc141.pdb
/x64/Debug/SFML-desktop.exe
/x64/Debug/SFML-desktop.ilk
/x64/Debug/SFML-desktop.pdb
